html,
body {
  padding: 0;
  margin: 0;
}

:root {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
}

a {
  color: inherit;
  text-decoration: none;
  display: inline-flex;
  cursor: pointer;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 100%;
}
